In [1]:
import pandas as pd
import numpy as np
import re

## Load and Concatenate Data

In [2]:
# Load Data
pd.set_option('display.max_columns', None)
d2018= pd.read_csv('/Users/robertkammerer/Ironhack/05_Week/AccidentAtlasGermany/Data/Unfallorte2018_LinRef.txt', sep= ";")
d2019= pd.read_csv('/Users/robertkammerer/Ironhack/05_Week/AccidentAtlasGermany/Data/Unfallorte2019_LinRef.txt',sep=";")
d2020= pd.read_csv('/Users/robertkammerer/Ironhack/05_Week/AccidentAtlasGermany/Data/Unfallorte2020_LinRef.csv',sep=";")

In [3]:
print(d2019.shape)
print(d2018.shape)
print(d2020.shape)

(268370, 24)
(211868, 24)
(237994, 25)

In [4]:
d2018 = d2018.rename(columns={'OBJECTID_1': 'OBJECTID', 'IstSonstig': 'IstSonstige'})

d2018['id_dist'] = d2018['OBJECTID'].astype(str)+"_"+d2018['UJAHR'].astype(str)

d2018.head()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,id_dist
0,1,1,0,3,0,2018,1,8,5,2,0,7,0,1,0,0,0,0,0,0,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018
1,2,1,0,62,20,2018,1,15,6,3,5,2,0,0,1,0,0,0,0,1,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018
2,3,1,0,56,15,2018,1,19,4,3,2,6,2,0,1,0,0,0,0,1,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018
3,4,1,0,59,37,2018,1,10,5,3,5,3,0,0,1,0,0,0,0,1,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018
4,5,1,0,58,150,2018,1,13,3,3,5,2,0,0,1,0,0,0,0,0,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018

In [5]:
d2019['id_dist'] = d2019['OBJECTID'].astype(str)+"_"+d2019['UJAHR'].astype(str)

d2019.head()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,STRZUSTAND,id_dist
0,1,1,0,57,25,2019,1,5,5,3,8,1,2,0,1,0,0,0,0,"579075,960927323440000","6023531,318255106000000","10,216713530000050","54,353460244000075",1,1_2019
1,2,1,0,3,0,2019,1,6,2,3,5,2,1,1,1,0,0,0,0,"611914,920398440210000","5968419,523143058600000","10,701388439000027","53,852200108000034",1,2_2019
2,3,1,0,53,91,2019,1,7,6,3,4,6,2,0,1,0,0,0,0,"597807,670711245390000","5939158,772521587100000","10,477759560000038","53,592131367000036",1,3_2019
3,4,1,0,62,76,2019,1,5,6,3,8,1,2,0,1,0,0,0,0,"570688,991616101940000","5957625,627219760800000","10,072328698000035","53,762448160000076",2,4_2019
4,5,1,0,1,0,2019,1,8,5,3,5,2,1,0,1,0,0,0,0,"530059,818000000900000","6073467,298000000400000","9,467680689000076","54,807468400000062",1,5_2019

In [6]:
d2020['id_dist'] = d2020['OBJECTID'].astype(str)+"_"+d2020['UJAHR'].astype(str)

d2020.head()

,OBJECTID,UIDENTSTLAE,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,STRZUSTAND,id_dist
0,1,1.220012e+19,12,0,68,468,2020,1,11,5,2,1,7,0,0,0,0,0,1,0,"735840,436700000430000","5887204,801599999900000","12,521519179000052","53,082132832000070",0,1_2020
1,2,1.220011e+19,12,0,61,112,2020,1,17,2,3,6,2,0,0,1,1,0,0,0,"814106,991899999790000","5811960,550300000200000","13,614608653000062","52,367677682000078",0,2_2020
2,3,1.220011e+19,12,0,67,144,2020,1,16,5,3,5,2,0,1,1,0,0,0,0,"845207,375699999740000","5811964,177100000900000","14,069661201000031","52,349021128000061",1,3_2020
3,4,1.220013e+19,12,0,69,76,2020,1,11,6,3,5,3,0,0,1,0,0,0,0,"756844,833999999800000","5787696,062999999200000","12,757074839000040","52,179829995000034",1,4_2020
4,5,1.220012e+19,12,0,62,224,2020,1,16,6,3,3,2,1,1,1,0,0,0,0,"793616,489599999970000","5735748,046199999700000","13,249132448000069","51,695730215000026",0,5_2020

In [7]:
d2020 = d2020.drop('UIDENTSTLAE',axis=1)

In [8]:
# Full data for 2018-2020
data = pd.concat([d2018,d2019,d2020],axis=0)

In [9]:
data.head()

,OBJECTID,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,id_dist
0,1,1,0,3,0,2018,1,8,5,2,0,7,0,1,0,0,0,0,0,0,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018
1,2,1,0,62,20,2018,1,15,6,3,5,2,0,0,1,0,0,0,0,1,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018
2,3,1,0,56,15,2018,1,19,4,3,2,6,2,0,1,0,0,0,0,1,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018
3,4,1,0,59,37,2018,1,10,5,3,5,3,0,0,1,0,0,0,0,1,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018
4,5,1,0,58,150,2018,1,13,3,3,5,2,0,0,1,0,0,0,0,0,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018

## Clean Column Names

In [10]:
data.columns = [x.lower() for x in data.columns]

In [11]:
columns = list(data.columns)

columns = [re.sub("^u","",x) for x in columns]
print(columns)

data.columns = columns 

data = data.rename(columns={'objectid': 'id', 'regbez': 'bezirk',
                      'typ1': 'typ','lichtverh': 'lichtverhältnis','istrad': 'fahrrad',
                      'istpkw': 'pkw','istfuss': 'fußgänger','istkrad': 'motorrad',
                      'istgkfz': 'lkw','istsonstige': 'sonstige','strzustand': 'straßenzustand',})

data.head()

['objectid', 'land', 'regbez', 'kreis', 'gemeinde', 'jahr', 'monat', 'stunde', 'wochentag', 'kategorie', 'art', 'typ1', 'lichtverh', 'istrad', 'istpkw', 'istfuss', 'istkrad', 'istgkfz', 'istsonstige', 'strzustand', 'linrefx', 'linrefy', 'xgcswgs84', 'ygcswgs84', 'id_dist']

,id,land,bezirk,kreis,gemeinde,jahr,monat,stunde,wochentag,kategorie,art,typ,lichtverhältnis,fahrrad,pkw,fußgänger,motorrad,lkw,sonstige,straßenzustand,linrefx,linrefy,xgcswgs84,ygcswgs84,id_dist
0,1,1,0,3,0,2018,1,8,5,2,0,7,0,1,0,0,0,0,0,0,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018
1,2,1,0,62,20,2018,1,15,6,3,5,2,0,0,1,0,0,0,0,1,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018
2,3,1,0,56,15,2018,1,19,4,3,2,6,2,0,1,0,0,0,0,1,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018
3,4,1,0,59,37,2018,1,10,5,3,5,3,0,0,1,0,0,0,0,1,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018
4,5,1,0,58,150,2018,1,13,3,3,5,2,0,0,1,0,0,0,0,0,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018

## Convert encoded data back to string

In [12]:
data_clean=data.copy()

In [13]:
# clean weekday

def clean_weekday(x):
    if x == 1:
        return "sunday"
    elif x == 2:
        return "monday"
    elif x == 3:
        return "tuesday"
    elif x == 4:
        return "wednesday"
    elif x == 5:
        return "thursday"
    elif x == 6:
        return "friday"
    elif x == 7:
        return "saturday"
    
data_clean['wochentag'] = data_clean['wochentag'].apply(clean_weekday)

In [14]:
# clean injury

def clean_injury(x):
    if x == 1:
        return "fatal accident"
    elif x == 2:
        return "seriously injured"
    elif x == 3:
        return "slightly injured"
    
data_clean['kategorie'] = data_clean['kategorie'].apply(clean_injury)

In [15]:
# clean type of accident

def clean_art(x):
    if x == 1:
        return "Collision with another vehicle which starts, stops or is stationary"
    elif x == 2:
        return "Collision with another vehicle moving ahead or waiting"
    elif x == 3:
        return "Collision with another vehicle moving laterally in the same direction"
    elif x == 4:
        return "Collision with another oncoming vehicle"
    elif x == 5:
        return "Collision with another vehicle which turns into or crosses a road"
    elif x == 6:
        return "Collision between vehicle and pedestrian"
    elif x == 7:
        return "Collision with an obstacle in the carriageway"
    elif x == 8:
        return "Leaving the carriageway to the right"
    elif x == 9:
        return "Leaving the carriageway to the left"
    else:
        return "Other"
    
data_clean['art'] = data_clean['art'].apply(clean_art)

In [16]:
# clean type of accident 2

def clean_type(x):
    if x == 1:
        return "Driving accident"
    elif x == 2:
        return "Accident caused by turning off the road"
    elif x == 3:
        return "Accident caused by turning into a road or by crossing it"
    elif x == 4:
        return "Accident caused by crossing the road "
    elif x == 5:
        return "Accident involving stationary"
    elif x == 6:
        return "Accident between vehicles moving along in carriageway"
    elif x == 7:
        return "Other"
    
data_clean['typ'] = data_clean['typ'].apply(clean_type)

In [17]:
# Clean Light

def clean_light(x):
    if x == 0:
        return "daylight"
    elif x == 1:
        return "twilight"
    elif x == 2:
        return "darkness"
    
data_clean['lichtverhältnis'] = data_clean['lichtverhältnis'].apply(clean_light)

In [18]:
# Clean Condition

def clean_condition(x):
    if x == 0:
        return "dry"
    elif x == 1:
        return "wet"
    elif x == 2:
        return "slippery_winter"
    
data_clean['straßenzustand'] = data_clean['straßenzustand'].apply(clean_condition)

In [19]:
# State

def clean_state(x):
    if x == 1:
        return "Schleswig-Holstein"
    elif x == 2:
        return "Hamburg"
    elif x == 3:
        return "Niedersachsen"
    elif x == 4:
        return "Bremen"
    elif x == 5:
        return "Nordrhein-Westfalen"
    elif x == 6:
        return "Hessen"
    elif x == 7:
        return "Rheinland-Pfalz"
    elif x == 8:
        return "Baden-Württemberg"
    elif x == 9:
        return "Bayern"
    elif x == 10:
        return "Saarland"
    elif x == 11:
        return "Berlin"
    elif x == 12:
        return "Brandenburg"
    elif x == 13:
        return "Mecklenburg-Vorpommern"
    elif x == 14:
        return "Sachsen"
    elif x == 15:
        return "Sachsen-Anhalt"
    elif x == 16:
        return "Thüringen"

data_clean['land_id'] = data_clean['land']
data_clean['land'] = data_clean['land'].apply(clean_state)

In [20]:
# Vehicle

def fahrrad(x):
        if x == 1:
            return "fahrrad "
        else:
            return ""

def pkw(x):
        if x == 1:
            return "pkw "
        else:
            return ""

def fussgänger(x):
        if x == 1:
            return "fußgänger "
        else:
            return ""

def motorrad(x):
        if x == 1:
            return "motorrad "
        else:
            return ""

def lkw(x):
        if x == 1:
            return "lkw "
        else:
            return ""

def sonstige(x):
        if x == 1:
            return "sonstige"
        else:
            return ""


data_clean['combinations'] = (data_clean['fahrrad'].apply(fahrrad)+
                                data_clean['pkw'].apply(pkw)+
                                   data_clean['fußgänger'].apply(fussgänger)+
                                     data_clean['motorrad'].apply(motorrad)+
                                       data_clean['lkw'].apply(lkw)+
                                         data_clean['sonstige'].apply(sonstige))

In [21]:
# Region

In [22]:
# District

In [23]:
# Municipality

In [24]:
data_clean.head()

,id,land,bezirk,kreis,gemeinde,jahr,monat,stunde,wochentag,kategorie,art,typ,lichtverhältnis,fahrrad,pkw,fußgänger,motorrad,lkw,sonstige,straßenzustand,linrefx,linrefy,xgcswgs84,ygcswgs84,id_dist,land_id,combinations
0,1,Schleswig-Holstein,0,3,0,2018,1,8,thursday,seriously injured,Other,Other,daylight,1,0,0,0,0,0,dry,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018,1,fahrrad
1,2,Schleswig-Holstein,0,62,20,2018,1,15,friday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,wet,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018,1,pkw
2,3,Schleswig-Holstein,0,56,15,2018,1,19,wednesday,slightly injured,Collision with another vehicle moving ahead or...,Accident between vehicles moving along in carr...,darkness,0,1,0,0,0,0,wet,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018,1,pkw
3,4,Schleswig-Holstein,0,59,37,2018,1,10,thursday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning into a road or by c...,daylight,0,1,0,0,0,0,wet,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018,1,pkw
4,5,Schleswig-Holstein,0,58,150,2018,1,13,tuesday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,dry,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018,1,pkw

In [25]:
print(data_clean['land'].unique())
print(data_clean['bezirk'].unique())
print(data_clean['kreis'].unique())
print(data_clean['gemeinde'].unique())

['Schleswig-Holstein' 'Hamburg' 'Niedersachsen' 'Bremen' 'Hessen'
 'Baden-Württemberg' 'Brandenburg' 'Sachsen' 'Bayern' 'Rheinland-Pfalz'
 'Saarland' 'Berlin' 'Sachsen-Anhalt' 'Thüringen' 'Nordrhein-Westfalen'
 'Mecklenburg-Vorpommern']
[0 2 6 7 4 3 1 5 9]
[ 3 62 56 59 58  4 54  2  1 60 51 57 55 53 61  5 10  7 16 14 12  6  9 19
  8 13 11 15 52 41 35 37 40 34 33 31 36 32 38 39 27 18 26 25 22 17 21 28
 72 71 67 64 63 65 66 68 70 73 69 30 23 24 29 75 76 87 80 79 74 78 77 84
 82 81 89 90 83 86 85 88 20 43 45 44 42 46 91]
[  0  20  15  37 150  57  97  44  13 101  75  61  33   3   4  46  10  63
  82  93  83  35  68  56  23 100  11  17  43  89  21 135  49  39 149  81
 159 161  29  25 129  14  41 174 155   9   2  28  36  32  72  58  34  22
  40  91   5  59   1  78 132 113  96  12 137  45 145  79  18 184 144   7
  64  16  50 110 140  71 117  60  53 128 112  73  31  30  98  47  76 168
 186  42  26 104  69 131 116 136  62  24  52  48  99  27  86 114 173  94
 115 176  54   6  70 126 133 162  95  85 167 118 183  92   8  88 108 153
 121 138  80 107 125 102 158  74  65  90 123 185  19 127  51  38 130  84
 146 139  87 109 105 165  77 171 120 164 119 103  66 166  67 152 160 148
 106 134  55 124 169 187 157 111 170 189 141 182 147 179 122 175 156 163
 154 172 178 151 188 177 215 216 601 711 417 316 715 318 209 702 306 317
 321 409 217 208 407 320 219 403 221 710 319 307 304 405 714 404 709 414
 406 602 603 712 218 611 612 411 610 412 703 415 705 410 522 713 419 226
 432 701 227 225 604 708 206 305 418 504 431 402 416 704 506 501 200 481
 428 433 269 256 181 268 512 472 290 426 240 468 540 340 477 260 332 461
 357 425 324 274 232 384 336 656 296 345 572 485 596 251 408 264 484 244
 665 196 372 288 201 293 440 579 252 280 452 301 180 310 285 380 474 578
 393 386 272 353 397 616 341 469 356 590 298 448 680 532 249 297 492 454
 482 370 237 413 429 192 250 198 337 490 371 325 500 696 273 333 352 480
 648 329 473 430 193 302 224 552 453 312 212 450 202 445 294 190 222 228
 241 265 270 438 261 435 401 632 528 289 458 493 303 349 569 424 520 541
 505 142 308 544 444 392 539 437 205 510 266 396 645 365 236 300 282 400
 292 538 700 350 390 276 210 470 330 600 530 476 565 360 420 344 640 460
 220 550 230 690 630 560 580 670 245 525 355 495 570 620 143 194 223 203
 214 199 204 213 191 195 207 211 197 231 229 239 262 234 502 263 235 503
 247 242 243 295 315 286 313 287 299 253 322 248 246 278 254 284 238 279
 277 258 267 271 291 259 311 283 255 516 515 518 511 513 519 517 514 275
 455 375 377 546 531 535 391 323 557 442 631 335 635 526 523 427 507 423
 314 508 608 717 509 309 607 524 521 421 606 615 707 716 422 718 706 609
 614 605 613 688 338 471 537 464 328 388 545 361 233 327 257 281 348]

In [26]:
data_clean['land'].value_counts()

Bayern                    138645
Nordrhein-Westfalen       106782
Baden-Württemberg          95442
Niedersachsen              77850
Hessen                     54635
Berlin                     38852
Rheinland-Pfalz            38222
Sachsen                    37036
Schleswig-Holstein         32761
Brandenburg                25007
Sachsen-Anhalt             20552
Hamburg                    20099
Thüringen                   9917
Saarland                    9539
Bremen                      8466
Mecklenburg-Vorpommern      4427
Name: land, dtype: int64

In [68]:
data_clean['land_id']=data_clean['land_id'].astype(str).apply(lambda x: x.zfill(2))
data_clean['kreis']=data_clean['kreis'].astype(str).apply(lambda x: x.zfill(2))
data_clean['land_kreis']=data_clean['land_id']+data_clean['kreis']
data_clean.head()

,id,land,bezirk,kreis,gemeinde,jahr,monat,stunde,wochentag,kategorie,art,typ,lichtverhältnis,fahrrad,pkw,fußgänger,motorrad,lkw,sonstige,straßenzustand,linrefx,linrefy,xgcswgs84,ygcswgs84,id_dist,land_id,combinations,land_kreis
0,1,Schleswig-Holstein,0,03,0,2018,1,8,thursday,seriously injured,Other,Other,daylight,1,0,0,0,0,0,dry,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018,01,fahrrad,0103
1,2,Schleswig-Holstein,0,62,20,2018,1,15,friday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,wet,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018,01,pkw,0162
2,3,Schleswig-Holstein,0,56,15,2018,1,19,wednesday,slightly injured,Collision with another vehicle moving ahead or...,Accident between vehicles moving along in carr...,darkness,0,1,0,0,0,0,wet,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018,01,pkw,0156
3,4,Schleswig-Holstein,0,59,37,2018,1,10,thursday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning into a road or by c...,daylight,0,1,0,0,0,0,wet,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018,01,pkw,0159
4,5,Schleswig-Holstein,0,58,150,2018,1,13,tuesday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,dry,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018,01,pkw,0158

## Export final dataset to CSV file

In [69]:
#Germany
data_clean.to_csv('TrafficAccidentData_2018-2020_new.csv',index=False)

In [28]:
# Berlin

data_clean_ber = data_clean[data_clean['land']=='Berlin']

data_clean_ber.shape

data_clean_ber.to_csv('TrafficAccident_18-20_Berlin.csv',index=False)

## Exploratory Data Analysis

In [29]:
df = data_clean.copy()

In [30]:
df

,id,land,bezirk,kreis,gemeinde,jahr,monat,stunde,wochentag,kategorie,art,typ,lichtverhältnis,fahrrad,pkw,fußgänger,motorrad,lkw,sonstige,straßenzustand,linrefx,linrefy,xgcswgs84,ygcswgs84,id_dist,land_id,combinations
0,1,Schleswig-Holstein,0,3,0,2018,1,8,thursday,seriously injured,Other,Other,daylight,1,0,0,0,0,0,dry,"612054,341999999950000","5969634,006000000100000","10,703950299000041","53,863081147000059",1_2018,1,fahrrad
1,2,Schleswig-Holstein,0,62,20,2018,1,15,friday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,wet,"592301,984999999990000","5938800,026999999800000","10,394496814000036","53,589905976000068",2_2018,1,pkw
2,3,Schleswig-Holstein,0,56,15,2018,1,19,wednesday,slightly injured,Collision with another vehicle moving ahead or...,Accident between vehicles moving along in carr...,darkness,0,1,0,0,0,0,wet,"547114,933199999970000","5955266,091099999800000","9,714396363000049","53,743906875000050",3_2018,1,pkw
3,4,Schleswig-Holstein,0,59,37,2018,1,10,thursday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning into a road or by c...,daylight,0,1,0,0,0,0,wet,"534122,484399999960000","6054521,118599999700000","9,528665857000021","54,636949491000053",4_2018,1,pkw
4,5,Schleswig-Holstein,0,58,150,2018,1,13,tuesday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,daylight,0,1,0,0,0,0,dry,"572287,658999999990000","6037455,893000000200000","10,115679928000077","54,479588354000043",5_2018,1,pkw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237989,237990,Rheinland-Pfalz,1,38,45,2020,12,17,friday,slightly injured,Other,Driving accident,darkness,0,1,0,1,0,0,wet,"391675,607900000180000","5589115,281999999700000","7,474374137000041","50,444042102000026",237990_2020,7,pkw motorrad
237990,237991,Rheinland-Pfalz,3,32,49,2020,12,8,saturday,slightly injured,Leaving the carriageway to the left,Other,daylight,0,1,0,0,0,0,wet,"438750,044599999670000","5484883,899299999700000","8,153857415000061","49,513483991000044",237991_2020,7,pkw
237991,237992,Rheinland-Pfalz,1,41,75,2020,12,17,tuesday,slightly injured,Collision with another vehicle which turns int...,Accident caused by turning off the road,darkness,0,1,0,0,0,0,wet,"400274,490199999880000","5575067,228599999100000","7,599165158000062","50,319263897000042",237992_2020,7,pkw
237992,237993,Rheinland-Pfalz,3,14,0,2020,11,7,friday,slightly injured,Collision between vehicle and pedestrian,Accident caused by turning off the road,twilight,0,1,1,0,0,0,dry,"454090,255400000140000","5482031,062799999500000","8,366091643000061","49,489180504000046",237993_2020,7,pkw fußgänger
237993,237994,Rheinland-Pfalz,3,35,22,2020,12,15,friday,slightly injured,Collision with another vehicle moving ahead or...,Accident between vehicles moving along in carr...,daylight,0,1,0,0,0,0,wet,"396112,076399999670000","5474337,654500000200000","7,567753367000023","49,412845294000078",237994_2020,7,pkw

In [31]:
df.shape

(718232, 27)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718232 entries, 0 to 237993
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               718232 non-null  int64
 1   land             718232 non-null  object
 2   bezirk           718232 non-null  int64
 3   kreis            718232 non-null  int64
 4   gemeinde         718232 non-null  int64
 5   jahr             718232 non-null  int64
 6   monat            718232 non-null  int64
 7   stunde           718232 non-null  int64
 8   wochentag        718232 non-null  object
 9   kategorie        718232 non-null  object
 10  art              718232 non-null  object
 11  typ              718232 non-null  object
 12  lichtverhältnis  718232 non-null  object
 13  fahrrad          718232 non-null  int64
 14  pkw              718232 non-null  int64
 15  fußgänger        718232 non-null  int64
 16  motorrad         718232 non-null  int64
 17  lkw              718232 non-null  int64
 18  sonstige         718232 non-null  int64
 19  straßenzustand   718232 non-null  object
 20  linrefx          718232 non-null  object
 21  linrefy          718232 non-null  object
 22  xgcswgs84        718232 non-null  object
 23  ygcswgs84        718232 non-null  object
 24  id_dist          718232 non-null  object
 25  land_id          718232 non-null  int64
 26  combinations     718232 non-null  object
dtypes: int64(14), object(13)
memory usage: 153.4+ MB

In [33]:
df.describe()

,id,bezirk,kreis,gemeinde,jahr,monat,stunde,fahrrad,pkw,fußgänger,motorrad,lkw,sonstige,land_id
count,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000,718232.000000
mean,120819.156339,2.741177,41.559269,67.586100,2019.036375,6.697826,13.295949,0.292605,0.790568,0.088754,0.143693,0.049588,0.098894,7.444448
std,71016.461439,2.376028,26.008921,111.244258,0.790585,3.242644,4.748058,0.454959,0.406904,0.284389,0.350779,0.217093,0.298520,3.621343
min,1.000000,0.000000,1.000000,0.000000,2018.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,59853.000000,1.000000,15.000000,0.000000,2018.000000,4.000000,10.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,119706.000000,2.000000,40.000000,18.000000,2019.000000,7.000000,14.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8.000000
75%,179558.250000,4.000000,62.000000,110.000000,2020.000000,9.000000,17.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000
max,268370.000000,9.000000,91.000000,718.000000,2020.000000,12.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000

In [34]:
df.describe(include=["object"])

,land,wochentag,kategorie,art,typ,lichtverhältnis,straßenzustand,linrefx,linrefy,xgcswgs84,ygcswgs84,id_dist,combinations
count,718232,718232,718232,718232,718232,718232,718232,718232,718232,718232,718232,718232,718232
unique,16,7,3,10,7,3,3,706923,705875,700400,700230,718232,49
top,Bayern,friday,slightly injured,Collision with another vehicle which turns int...,Accident between vehicles moving along in carr...,daylight,dry,"693277,592000000180000","5936570,089999999900000","7,593848056000070","50,355044140000075",1_2018,pkw
freq,138645,117390,575096,200899,181464,545294,541805,11,11,17,17,1,280845

In [35]:
#df[df["fahrrad"] == 1].mean()

import seaborn as sns
import matplotlib.pyplot as plt

def plot(df):
    count= df.shape[1]
    fig, ax = plt.subplots(nrows=1,ncols=count,figsize=(25,5))
    for i,col in enumerate(df.columns):
        sns.countplot(x=df[col], ax=ax[i])
    plt.show()

plot(df)